/** Nav */

.inline-block {
    display: inline;
    vertical-align: top;
    margin-left: auto;
    margin:10px;
    padding:0;
    list-style:none;
    //*width:525px;*/
}
.logo {
    width: 23%;
    padding: 1%;
    padding-top: 100px;
    text-align: center;
    margin-left: auto;
}
h2{
    margin-right: auto;
}
nav {
    width: 73%;
    padding: 1%;
}
ul{
    width: 50%;
    margin-right: auto;
}

/** Hero Header */

heroImg {
    height: 300px;
    padding: 10px;
}
.content{
    width: 500px;
    margin: 0 auto;
}

/** Footer */

.footer {
  vertical-align: bottom;
  display: inline-block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FBFBFB;
  color: black;
  text-align: center;
}